<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="ionic-plugin-maps"
    version="1.0.1">
    <name>GoogleMarker</name>
    <description>Google Maps Plugin</description>
    <license>Apache 2.0</license>
    <keywords>Ionic,Maps</keywords>
    <repo>https://github.com/yennq/ionic-plugin-maps.git</repo>
    <issue>https://github.com/yennq/ionic-plugin-maps/issues</issue>
    
    <!-- ios -->
    <platform name="ios">
        <js-module src="www/ios/maps.js" name="showAllMarker">
            <runs/>
            <clobbers target="cordova.plugins.GoogleMarker" />
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="GoogleMarker">
                <param name="ios-package" value="IonicMaps" onload="true" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/IonicMaps.h" />
        <source-file src="src/ios/IonicMaps.m" />

        <framework src="CoreLocation.framework" />
        
        <preference name="GEOLOCATION_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>$GEOLOCATION_USAGE_DESCRIPTION</string>
        </config-file>
    </platform>
</plugin>
